<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.excel.remotelycontrolappstv.secondgen">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.TETHER_PRIVILEGED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        tools:replace="android:theme">
        <receiver
            android:name="com.excel.remotelycontrolappstv.receivers.ConnectivityChangeReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="connectivity_change" />
                <action android:name="test_test" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="boot_completed" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="start_listening_service" />
                <action android:name="update_box_bootup_time" />
                <action android:name="update_box_active_status" />
                <action android:name="get_preinstall_apps_info" />
                <action android:name="get_launcher_config" />
                <action android:name="get_box_configuration" />
                <action android:name="broadcast_airplay_credentials" />
                <action android:name="schedule_reboot" />
                <action android:name="postpone_reboot" />
                <action android:name="clear_application_cache" />
                <action android:name="execute_script" />
                <action android:name="MY_ACTION" />
            </intent-filter>
        </receiver>

        <service android:name=".ListeningService" />
        <service android:name="com.excel.remotelycontrolappstv.services.UpdateBoxActiveStatusService" />
        <service android:name="com.excel.remotelycontrolappstv.services.UpdateBoxBootStatusService" />
        <service android:name="com.excel.remotelycontrolappstv.services.GetPreinstallAppsInfoService" />
        <service android:name="com.excel.remotelycontrolappstv.services.GetLauncherConfigService" />
        <service android:name="com.excel.remotelycontrolappstv.services.GetBoxConfigService" />
        <service android:name="com.excel.remotelycontrolappstv.services.HotspotStarterService" />
        <service android:name="com.excel.remotelycontrolappstv.services.BroadcastAirplayService" />
        <service android:name="com.excel.remotelycontrolappstv.services.ScheduleRebootService" />
        <service android:name="com.excel.remotelycontrolappstv.services.ClearCacheService" />
    </application>

</manifest>